<!-- Both these should be added to within the <head> of your document-->

<link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
<script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>


<!--Video Section-->
<section class="content-section video-section">
<div class="pattern-overlay">

<div class="container ">
<!-- this is the background video, inside container div, and height set to 100% in CSS  -->
    <a  id="bgndVideo" class="player"
    data-property="{videoURL:'https://youtu.be/2FhaB5XAp1s',
    containment:'body',
    quality:'hd720',
    autoPlay:true,
    mute:true,
    startAt: 6,

    opacity: 1}">bg</a>

<!--more VIDO  options at https://github.com/pupunzi/jquery.mb.YTPlayer/wiki -->

<div class="row">
        <div class="col-lg-12">

        <h1> Jewelry pprentice </h1>
        <h3> 首饰界大牛亲授，快速培养一流的珠宝人才！
          <%= link_to("立即加入","#",:class => "btn btn-default", :style => "background-color:#D3D7E0;opacity: 0.8;font-weight: bold;letter-spacing: 3px;font-size: 20px;padding: 8px 16px;border-radius: 3px;width: 200px; ")%> </h3>

        <!-- Begin Mr. M.'s Rows -->

<!-- 这是滑动条 -->

<!-- huadongtiao. -->


<div class="row">


            <div class="col-md-4">
              <h2>Mr. M. Full Screen Video</h2>
              <p>NOTE: <a href="http://bootsnipp.com/iframe/Ovmd" target="_blank">BEST to view Full Screen</a>. Non mi porta gravida at egetat eget  metus. Fusce dapibus, tellus ac at eget cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta.. </p>
              <p><a class="btn btn-default" href="#" role="button">View details »</a></p>


 <div id="carouselButtons">
      <button id="playButton" type="button" class="btn btn-default btn-xs" onclick="$('#bgndVideo').playYTP()">

          <span class="glyphicon glyphicon-play" ></span>
       </button>
      <button id="pauseButton" type="button" class="btn btn-default btn-xs" onclick="$('#bgndVideo').pauseYTP()">
          <span class="glyphicon glyphicon-pause"></span>
      </button>
  </div>


              <button onclick="$('#bgndVideo').toggleVolume()">unmute/unmute</button>


              <button onclick="$('#bgndVideo').pauseYTP()">pause</button><button onclick="$('#bgndVideo').playYTP()">play</button>


            </div><!--/span-->



            <div class="col-md-4">
              <h2>Heading B</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div><!--/span-->



            <div class="col-md-4">
              <h2>Heading C</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div><!--/span-->



          </div><!--/row-->


  <!-- END Mr. M.'s Rows -->





	   </div>
      </div>
    </div>
  </div>
</section>
<!--Video Section Ends Here-->
