<!-- Both these should be added to within the <head> of your document-->
<link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
<script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>


<!--Video Section-->
<section class="content-section video-section">
<div class="pattern-overlay">

<div class="container ">
<!-- this is the background video, inside container div, and height set to 100% in CSS  -->
    <a  id="bgndVideo" class="player"
    data-property="{videoURL:'https://youtu.be/2FhaB5XAp1s',
    containment:'body',
    quality:'hd720',
    autoPlay:true,
    mute:true,
    startAt: 6,

    opacity: 1}">bg</a>

<!--more VIDO  options at https://github.com/pupunzi/jquery.mb.YTPlayer/wiki -->

<div class="row">
        <div class="col-lg-12">

        <h1> Jewelry Master Offer </h1>
        <h3> 首饰界大牛亲授，快速培养一流的珠宝人才！
          <%= link_to("立即加入","#",:class => "btn btn-default", :style => "background-color:#D3D7E0;opacity: 0.8;font-weight: bold;letter-spacing: 3px;font-size: 20px;padding: 8px 16px;border-radius: 3px;width: 200px; ")%> </h3>

        <!-- Begin Mr. M.'s Rows -->

<!-- 这是滑动条 -->
<!-- Swiper Silder
    ================================================== -->
<!-- Slider main container -->

<!-- 滑动条、 -->


<div class="row">

<!-- dt -->
<div id="first-slider">
    <div id="carousel-example-generic" class="carousel slide carousel-fade">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <!-- Item 1 -->
            <div class="item active slide1">
                <div class="row"><div class="container">
                    <div class="col-md-3 text-right">
                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="http://s20.postimg.org/pfmmo6qj1/window_domain.png">
                    </div>
                    <div class="col-md-9 text-left">
                        <h3 data-animation="animated bounceInDown">Add images, or even your logo!</h3>
                        <h4 data-animation="animated bounceInUp">Easily use stunning effects</h4>
                     </div>
                </div></div>
             </div>
            <!-- Item 2 -->
            <div class="item slide2">
                <div class="row"><div class="container">
                    <div class="col-md-7 text-left">
                        <h3 data-animation="animated bounceInDown"> 50 animation options A beautiful</h3>
                        <h4 data-animation="animated bounceInUp">Create beautiful slideshows </h4>
                     </div>
                    <div class="col-md-5 text-right">
                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="http://s20.postimg.org/sp11uneml/rack_server_unlock.png">
                    </div>
                </div></div>
            </div>
            <!-- Item 3 -->
            <div class="item slide3">
                <div class="row"><div class="container">
                    <div class="col-md-7 text-left">
                        <h3 data-animation="animated bounceInDown">Simple Bootstrap Carousel</h3>
                        <h4 data-animation="animated bounceInUp">Bootstrap Image Carousel Slider with Animate.css</h4>
                     </div>
                    <div class="col-md-5 text-right">
                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="http://s20.postimg.org/eq8xvxeq5/globe_network.png">
                    </div>
                </div></div>
            </div>
            <!-- Item 4 -->
            <div class="item slide4">
                <div class="row"><div class="container">
                    <div class="col-md-7 text-left">
                        <h3 data-animation="animated bounceInDown">We are creative</h3>
                        <h4 data-animation="animated bounceInUp">Get start your next awesome project</h4>
                     </div>
                    <div class="col-md-5 text-right">
                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="http://s20.postimg.org/9vf8xngel/internet_speed.png">
                    </div>
                </div></div>
            </div>
            <!-- End Item 4 -->

        </div>
        <!-- End Wrapper for slides-->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
        </a>
    </div>
</div>

<!-- dt. -->



            <div class="col-md-4">
              <h2>Mr. M. Full Screen Video</h2>
              <p>NOTE: <a href="http://bootsnipp.com/iframe/Ovmd" target="_blank">BEST to view Full Screen</a>. Non mi porta gravida at egetat eget  metus. Fusce dapibus, tellus ac at eget cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta.. </p>
              <p><a class="btn btn-default" href="#" role="button">View details »</a></p>


 <div id="carouselButtons">
      <button id="playButton" type="button" class="btn btn-default btn-xs" onclick="$('#bgndVideo').playYTP()">

          <span class="glyphicon glyphicon-play" ></span>
       </button>
      <button id="pauseButton" type="button" class="btn btn-default btn-xs" onclick="$('#bgndVideo').pauseYTP()">
          <span class="glyphicon glyphicon-pause"></span>
      </button>
  </div>


              <button onclick="$('#bgndVideo').toggleVolume()">unmute/unmute</button>


              <button onclick="$('#bgndVideo').pauseYTP()">pause</button><button onclick="$('#bgndVideo').playYTP()">play</button>


            </div><!--/span-->



            <div class="col-md-4">
              <h2>Heading B</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div><!--/span-->



            <div class="col-md-4">
              <h2>Heading C</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div><!--/span-->



          </div><!--/row-->


  <!-- END Mr. M.'s Rows -->





	   </div>
      </div>
    </div>
  </div>
</section>
<!--Video Section Ends Here-->
